/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";
/* This should initially keep the sidebar hidden off-screen */
.transform {
    transform: translateX(-100%);
  }
  /* Adding "open" should make it slide into view */
  .transform.open {
    transform: translateX(0);
  }
  /* You can add this in your application's CSS file */
/* Styles for the search overlay */
 /* Styles for the search overlay */
/* Styles for the search overlay */
 [data-navbar-target="searchOverlay"] {
    transition: transform 0.3s ease-in-out; /* Smooth transition for sliding effect */
  }
  
  /* When hidden, the overlay is positioned off-screen */
  [data-navbar-target="searchOverlay"].-translate-y-full {
    transform: translateY(-100%); /* Initially position it off-screen */
  }
  
  /* When shown, the overlay should translate to its original position */
  [data-navbar-target="searchOverlay"]:not(.-translate-y-full) {
    transform: translateY(0); /* Slide into view */
  }

  /* Hide scrollbar for webkit browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

  

  
  
  
  
  
  

